<div class="shadow p-3 mb-5 bg-white rounded mt-4 p-5">
  <p class="fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
  <p class="text-gray mt-3 fs-16"> -- Holistic Benchmark eMarket |  Mar 23, 2021 04:30 PM</p>
  <p class="text-primary mt-3 fs-16 fw-600"><%= image_pack_tag 'home/ic_comment.svg', class: 'mr-3' %>  Add Comments</p>
</div>
<div class="shadow p-3 mb-5 bg-white rounded mt-4 p-5">
  <p class="fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
  <p class="text-gray mt-3 fs-16"> -- Holistic Benchmark eMarket |  Mar 23, 2021 04:30 PM</p>
  <p class="text-primary mt-3 fs-16 fw-600"><%= image_pack_tag 'home/ic_comment.svg', class: 'mr-3' %>  Add Comments</p>
</div>
<div class="shadow p-3 mb-5 bg-white rounded mt-4 p-5">
  <p class="fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
  <p class="text-gray mt-3 fs-16"> -- Holistic Benchmark eMarket |  Mar 23, 2021 04:30 PM</p>
  <p class="text-primary mt-3 fs-16 fw-600"><%= image_pack_tag 'home/ic_comment.svg', class: 'mr-3' %>  Add Comments</p>
</div>
<div class="shadow p-3 mb-5 bg-white rounded mt-4 p-5">
  <p class="fs-18">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
  <p class="text-gray mt-3 fs-16"> -- Holistic Benchmark eMarket |  Mar 23, 2021 04:30 PM</p>
  <p class="text-primary mt-3 fs-16 fw-600"><%= image_pack_tag 'home/ic_comment.svg', class: 'mr-3' %>  Add Comments</p>
</div>
