<div class="admin-table bg-white table-responsive mt-3 overflow-hidden">
  <div class="justify-content-between mt-2 search-card">
    <div class="d-flex align-items-center flex-wrap my-1">
      <div style="width: 300px;" class="mr-2 my-1 form-group mb-0 has-search d-flex position-relative">
        <%= image_pack_tag 'sample/search.svg', class: 'mr-3 form-control-feedback search-icon', width: '16' %>
        <input type="text" class="form-control searchbox" placeholder="Search Venue"
          id="searchbox">
      </div>
      <button class="btn btn-primary form-group search_btn mb-0 my-1">Search</button>
    </div>
  </div>

  <div class="admin-table bg-white table-responsive mt-3 venue_list_div_business">
    <%= render 'venue_table', venues: @venues %>
  </div>
</div>
