<div class="admin-table bg-white table-responsive mt-3 overflow-hidden">
  <div class='row mt-3'>
    <div class="col-sm-8 col-lg-4">
      <%# <input type="text" id="searchbox" class="form-control " style="width: 50%;display: inline;"> %>
      <div class="row">
        <div class="col-sm-6 col-lg-8">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control" placeholder="Search Venue" id="searchbox">
          </div>
        </div>
        <div class="col-sm-4 col-lg-4">
          <button class="btn btn-primary form-group search_btn">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="admin-table bg-white table-responsive mt-3 venue_list_div_business">
    <%= render 'venue_table', venues: @venues %>
  </div>
</div>
