<section class="content-wrapper position-relative business-show">
  <div class="row h-100 w-100 m-0 h-100 content-wrapper">
    <div class="col-lg-4 col-xl-3 p-0 border-right">
      <%= render 'show_left_bar' %>
    </div>
    <div class="col-lg-8 col-xl-9 bg-light">
      <%= render 'show_right_bar' %>
    </div>
  </div>
</section>

<script>
  $(document).ready(function(){
    custom_datatable($('#venue_list_table'));
    $('.header_tabs').on('click', function(){
      if(this.id == 'venues-tab'){
        $('.add_venue').closest('li').removeClass('d-none');
        $('.add_note').closest('li').addClass('d-none');
      }
      else{
        $('.add_note').closest('li').removeClass('d-none');
        $('.add_venue').closest('li').addClass('d-none');
      }
    })
  })
</script>

<style>
  .business-show .content{
    padding: 35px 35px;
    min-height: 0px;
  }
  .left-sidebar-btn:after{
    content: 'Notes'
  }

  ul#mylist li {
      display:inline;
      text-align:center;
      margin: 0 10%;
  }
  ul#mylist li i {
      display: block;
  }

  ul#mylist li:first-child {
      margin-left: 0;
  }
  ul#mylist li:last-child {
      margin-right: 0;
  }
  .sharp{
    min-width: 0px;
    padding: 0 !important;
  }
</style>