<section class="content-wrapper content-margin position-relative business-show">
  <div class="row h-100 w-100 m-0 h-100 content-wrapper">
    <div class="col-lg-4 col-xl-3 p-0 border-right">
      <%= render 'show_left_bar' %>
    </div>
    <div class="col-lg-8 col-xl-9 bg-light">
      <%= render 'show_right_bar' %>
    </div>
  </div>
</section>

<script>
  enable_notes = function(){
    $('.header_tabs').removeClass('active');
    $('.tab-pane').removeClass('active show');
    $('#notes-tab').addClass('active');
    $('#notes-tab-body').addClass('active show');
    document.getElementById('notes-tab').scrollIntoView();
  }
  enable_venues = function(){
    $('.header_tabs').removeClass('active');
    $('.tab-pane').removeClass('active show');
    $('#venues-tab').addClass('active');
    $('#venues-tab-body').addClass('active show');
    document.getElementById('venues-tab').scrollIntoView();
  }
  if(window.location.hash.substr(1) == "venues-tab-body"){
    enable_venues();
  } else if (window.location.hash.substr(1) == "notes-tab-body") {
    enable_notes();
  }
  $(document).ready(function(){
    custom_datatable($('#venue_list_table'));
    $('.header_tabs').on('click', function(){
      if(this.id == 'venues-tab'){
        $('.add_venue').closest('div').removeClass('d-none');
        $('.add_note').closest('div').addClass('d-none');
      } else if(this.id == 'notes-tab') {
        $('.add_note').closest('div').removeClass('d-none');
        $('.add_venue').closest('div').addClass('d-none');
      } else if(this.id == 'details-tab') {
        $('.add_venue').closest('div').addClass('d-none');
        $('.add_note').closest('div').addClass('d-none');
        $('.sub_header_tabs').first().addClass('active');
        $('#businessDetailsSubTabs.tab-pane').removeClass('active show');
        $('#businessDetailsSubTabs .tab-pane').first().addClass('active show');
      }
    })
    $('.add_note').on('click', function(){
      $("#bottom_modal").modal('show');
      $('.modal-backdrop').removeClass('show');
    })
    $('.enable_notes').on('click', function(){
      enable_notes()
    })
  })
</script>
