/* CSS used here will be applied after bootstrap.css */
.bg-custom-blue {
	background-color: #2E3F50;
}

.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: #fff;
		}
	}
}

@media only screen and (min-width: 1200px){
	.dropdown {
		&:hover {
			.dropdown-menu {
				display: block;
				margin-top: 0;
			}
		}
	}
}

.badge-notify {
	background: red;
	// position: relative;
	// top: -13px;
	// left: -12px;
	border-radius: 50px;
	position: absolute;
  right: 0;
  left: inherit;
  top: -10px;
}

header {
	.dropdown {
		&:hover {
			background-color: #586573;
		}
	}
}

.dropdown-menu {
	min-width: -moz-available;
	min-width: -webkit-fill-available;
}

.main-header {
	.dropdown-menu {
		background-color: #007AFF;
    border-radius: 0px;

		& > .dropdown-item {
			color: white;
			opacity: 60% !important;
			line-height: 2rem;

			&:hover {
				background-color: #007AFF;
				opacity: 100% !important;
			}
		}
	}
}

.badge-edit {
	background: #007AFF;
	position: relative;
	top: 33px;
	left: -32px;
	border-radius: 50px;
	padding: 8px;
	color: white;
}

.action-area-buttons {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	a {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: #e2eefa;
		}
	}
}

.dataTables_filter {
	display: none;
}

.dataTable-bottom {
	display: flex;
	justify-content: space-between;
}

.has-search {
	.form-control {
		padding-left: 2.375rem;
	}

	.form-control-feedback {
		position: absolute;
		z-index: 2;
		display: block;
		width: 2.375rem;
		// height: 2.375rem;
		height: auto;
		line-height: 3rem;
		text-align: center;
		pointer-events: none;
		color: #c4c4c4;
		font-size: 22px;
	}
}

.navbar {
	.navbar-nav {
		.nav-link {
			// padding: 0.6em;
			font-size: 15px;
  		padding: 17px 19px;
		}
	}
	.navbar-brand {
		padding: 0 0.6em;
	}
}
@media only screen and (min-width: 960px) {
	.navbar {
		padding: 0;
		.navbar-nav {
			.nav-link {
				padding: 1em 0.5em;
			}
		}
		.navbar-brand {
			padding: 0 0.8em;
		}
	}
	.profile-dropdown {
		position: relative;
		&::before {
			content: '.';
			position: absolute;
			top: 50%;
			-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			border-left: 1px solid #fff;
			color: #2E3F50;
			height: 37%;
			left: -2%;
		}
	}
}

//  .dropdown-menu {
//     transform-origin: top center;
//     animation: translateX 300ms ease-in-out forwards
//  }



//  @keyframes translateX {
//    0% {
//      opacity: 0;
//      transform: translateX(60px);
//    }

//    80% {
//      transform: translateX(-5px);
//    }

//    100% {
//      opacity: 1;
//      transform: translateX(0px);
//    }
//  }
.modal.modal-left {
	.modal-dialog {
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		position: fixed;
		margin: auto;
		width: 500px;
		max-width: 100%;
		height: 100%;
	}

	.modal-content {
		height: 100%;
		overflow-y: auto;
		border-radius: 0;
		border: none;
	}

	.modal-body {
		padding: 15px 15px 80px;
	}

	.modal-dialog.modal-sm {
		width: 300px;
	}

	.modal-dialog.modal-lg {
		width: 40rem;
	}

	.modal-dialog.modal-xl {
		width: 1140px;
	}
}

.modal.modal-right {
	.modal-header {
		padding-top: 32px !important;
		padding-bottom: 32px !important;
	}
	.modal-dialog {
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		position: fixed;
		margin: auto;
		width: 500px;
		max-width: 100%;
		height: 100%;
	}

	.modal-content {
		height: 100%;
		overflow-y: auto;
		border-radius: 0;
		border: none;
	}

	.modal-body {
		padding: 15px 40px 120px;
	}

	.modal-dialog.modal-sm {
		width: 300px;
	}

	.modal-dialog.modal-lg {
		width: 40rem;
	}

	.modal-dialog.modal-xl {
		width: 1140px;
	}

	.modal-footer {
		background: #f6f6f6;
		left: 0;
		right: 0;
		padding: 11px 22px !important;
		display: flex;
		align-items: center;
		justify-content: center !important;
	}

	.btn {
		min-width: 131px;
		padding: 16px 59px;
		margin: 12px;
	}

	label {font-weight: 500; margin-bottom: 12px;}
}

.modal.modal-top {
	.modal-dialog {
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		position: fixed;
		margin: auto;
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.modal-content {
		border-radius: 0;
		border: none;
		height: auto;
		overflow-y: auto;
	}

	.modal-body {
		padding: 15px 15px;
	}
}

.modal.modal-bottom {
	.modal-dialog {
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		position: fixed;
		margin: auto;
		width: 100%;
		// max-width: ;
		height: auto;
	}

	.modal-content {
		border-radius: 0;
		border: none;
		height: auto;
		overflow-y: auto;
	}

	.modal-body {
		padding: 15px 15px;
	}
}

.modal.modal-left.fade {
	.modal-dialog {
		left: -500px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		-o-transition: opacity 0.3s linear, left 0.3s ease-out;
		transition: opacity 0.3s linear, left 0.3s ease-out;
	}
}

.modal.modal-left.fade.show {
	.modal-dialog {
		left: 0;
	}
}

.modal.modal-right.fade {
	.modal-dialog {
		right: -500px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		-o-transition: opacity 0.3s linear, right 0.3s ease-out;
		transition: opacity 0.3s linear, right 0.3s ease-out;
	}
}

.modal.modal-right.fade.show {
	.modal-dialog {
		right: 0;
	}
}

.modal.modal-full {
	.modal-content {
		border-radius: 0;
		border: none;
		height: 100%;
		overflow-y: auto;
	}

	.modal-dialog {
		position: fixed;
		margin: auto;
		width: 100%;
		max-width: 100%;
		height: 100%;
	}

	.close-modal {
		position: fixed;
		top: 0;
		right: 3rem;
	}
}

.modal.modal-top.fade {
	.modal-dialog {
		top: -100%;
		-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, top 0.3s ease-out;
		-o-transition: opacity 0.3s linear, top 0.3s ease-out;
		transition: opacity 0.3s linear, top 0.3s ease-out;
	}
}

.modal.modal-top.fade.show {
	.modal-dialog {
		top: 0;
	}
}

.modal.modal-bottom.fade {
	.modal-dialog {
		bottom: -100%;
		-webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
		-o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
		transition: opacity 0.3s linear, bottom 0.3s ease-out;
		bottom: -100%;
	}
}

.modal.modal-bottom.fade.show {
	.modal-dialog {
		bottom: 0;
		right: 0;
	}
}

.modal-footer-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-radius: 0;
}

.modal.modal-left.xs {
	.modal-body {
		padding: 15px;
	}
}

.modal.modal-right.xs {
	.modal-body {
		padding: 15px;
	}
}

.bg-light-gray {
	background-color: #DCDCDC;
}

.img-boundary {
	padding: 0px;
	background-color: #fff;
	border: 11px solid #fff;
	border-radius: 6rem;
	max-width: 100%;
	height: 8rem;
	width: 8rem;
	box-shadow: 0px 14px 37px #0000001c;
}

table.dataTable {
	thead {
		.sorting {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}

		.sorting_asc {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}

		.sorting_desc {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}

		.sorting_asc_disabled {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}

		.sorting_desc_disabled {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}
	}
}

.simulation-form form .form-control{
	height: calc(3.25rem + -7px) !important
}
.simulation-form .form-control{
	//border: 1px solid #F6F6F6 !important;
	color: #007AFF !important;
}
.simulation-form .form-control::placeholder{
	color: lightgray !important;
}
.simulation-form input[type=number]::-webkit-inner-spin-button,
.simulation-form input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.title-border {
	border-color: #F7F8FA !important;
}

.bg-light-bottom {
	background-color: #F6F6F6;
}

div.dataTables_wrapper div.dataTables_length select{
	width: 100px !important;
	display: inline-block;
	margin-right: 14px;
	text-align: center;
	font-size: 19px;
	text-align-last: center;
}

.admin-table table tr td, .admin-table table tr th {
	border-color: #f7f8fa!important;
}

.business-show .tab-section .shadow p {
	font-size: 16px;
	
}
.business-show .tab-section .shadow{
	padding: 32px !important;
}

@media only screen and (max-width: 991px){
	.modal-right .btn {
			min-width: auto;
				padding: 11px 22px;
			margin: 4px;
	}
}

.business-show .content{
	padding: 20px;
	min-height: 0px;
}

@media only screen and (max-width: 767px){
	.business-show .content {
		padding: 20px 15px;
	}
}

.left-sidebar-btn:after{
	content: 'Notes'
}

.business-show ul#mylist li {
		display:inline;
		text-align:center;
		margin: 0 10%;
}
.business-show ul#mylist li i {
		display: block;
}

.business-show ul#mylist li:first-child {
		margin-left: 0;
}
.business-show ul#mylist li:last-child {
		margin-right: 0;
}
.business-show .sharp{
	min-width: 0px;
	padding: 0 !important;
}

.custom-modal iframe body {
	padding: 0;
	margin: 0 !important;
}

body.cke_editable.cke_editable_themed.cke_contents_ltr.cke_show_borders {
	padding: 0;
	margin: 0;
}

.custom-modal .modal-header {
	padding: 15px 27px !important;
}

.custom-modal .cke_bottom {
	border: none;
	padding-left: 0;
	padding-right: 0;
	display: flex;
	align-items: center;
	margin-bottom: 80px !important;
}

.custom-modal .cke_bottom .cke_resizer {order: 1;}

.custom-modal .modal-footer{
	padding: 20px 12px 20px 27px !important;
}

.custom-modal .modal-footer .form-group {}

.custom-modal .modal-footer .btn {
	font-size: 16px;
	min-width: 133px;
	margin: 0 15px;
}

.custom-modal .modal-footer .form-group label {color: #666666 !important;font-weight: 500 !important;}

.custom-modal .modal-footer .form-group input[type=checkbox] {
	background: #9c3c3c !important;
	border-color: #D1D1D1;
}

.custom-modal .modal-footer .checkbox-area {
	display: flex;
	align-items: center;
}


.custom-modal {
	right: 30px !important;
	left: inherit !important;
}

.custom-modal .modal-dialog {
	right: 40px !important;
}

@media only screen and (max-width: 991px){
	.custom-modal .modal-footer .btn{
		min-width: auto;
	}
}

@media only screen and (max-width: 767px){
	.custom-modal.modal.modal-bottom .modal-dialog {
		right: 30px !important;
		left: 30px !important;
		width: 80%;
	}
	.custom-modal .modal-footer .form-group {
			width: 100%;
			margin-bottom: 12px;
	}
	.custom-modal .cke_bottom{
		margin-bottom: 120px !important;
	}
	.custom-modal .modal-footer .btn {
		margin: 0 9px;
	}
}

.expanded-note-modal{
	right: 0px!important;
 & .modal-dialog {
			width: 100vw;
			height: 100vh;
			min-width: 100%;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
					& .modal-content{
					height: 100vh;
					& .modal-body{
							height: calc(100vh - 67px);
							& .cke_contents{
								height: calc(100vh - 220px) !important;
							}
					}
			}
	}
}

@media only screen and (max-width: 767px){
	.expanded-note-modal.modal.modal-bottom .modal-dialog {
		right: 0px!important;
		left: 0px!important;
		width: 100% !important;
	}
	.expanded-note-modal .modal-dialog .modal-content .modal-body .cke_contents {
    height: calc(100vh - 275px) !important;
	}	
}
@media only screen and (max-width: 575px){
	.expanded-note-modal .modal-dialog .modal-content .modal-body .cke_contents {
		height: calc(100vh - 329px) !important;

	}
}

.block-ui-box{border:1px solid #ced4da;padding:7px 5px;color:#000;position:relative;background-color: #fff;margin:0px 5px;}
.profile-circle {
	background-color: #fff;
	width: 25px;
	min-width: 25px;
	height: 25px;
	border-radius: 50%;
}

.badge-tick {
	border-radius: 50px;
	position: absolute;
  right: 7px;
  left: inherit;
  top: 7px;
}
