/* CSS used here will be applied after bootstrap.css */
.bg-custom-blue {
	background-color: #2E3F50;
}

.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: #fff;
		}
	}
}

@media only screen and (min-width: 1200px){
	.dropdown {
		&:hover {
			.dropdown-menu {
				display: block;
				margin-top: 0;
			}
		}
	}
}

.badge-notify {
	background: red;
	// position: relative;
	// top: -13px;
	// left: -12px;
	border-radius: 50px;
	position: absolute;
  right: 0;
  left: inherit;
  top: -10px;
}

header {
	.dropdown {
		&:hover {
			background-color: #586573;
		}
	}
}

.dropdown-menu {
	min-width: -moz-available;
	min-width: -webkit-fill-available;
}

.main-header {
	.dropdown-menu {
		background-color: #007AFF;
    border-radius: 0px;

		& > .dropdown-item {
			color: white;
			opacity: 60% !important;
			line-height: 2rem;

			&:hover {
				background-color: #007AFF;
				opacity: 100% !important;
			}
		}
	}
}

.badge-edit {
	background: #007AFF;
	position: relative;
	top: 33px;
	left: -32px;
	border-radius: 50px;
	padding: 8px;
	color: white;
}

.action-area-buttons {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;

	a {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin-right: 8px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			background-color: #e2eefa;
		}
	}
}

.dataTables_filter {
	display: none;
}

.dataTable-bottom {
	display: flex;
	justify-content: space-between;
}

.has-search {
	.form-control {
		padding-left: 2.375rem;
	}

	.form-control-feedback {
		position: absolute;
		z-index: 2;
		display: block;
		width: 2.375rem;
		// height: 2.375rem;
		height: auto;
		line-height: 3rem;
		text-align: center;
		pointer-events: none;
		color: #aaa;
	}
}

.navbar {
	.navbar-nav {
		.nav-link {
			// padding: 0.6em;
			font-size: 15px;
  		padding: 17px 19px;
		}
	}
	.navbar-brand {
		padding: 0 0.6em;
	}
}
@media only screen and (min-width: 960px) {
	.navbar {
		padding: 0;
		.navbar-nav {
			.nav-link {
				padding: 1em 0.5em;
			}
		}
		.navbar-brand {
			padding: 0 0.8em;
		}
	}
	.profile-dropdown {
		position: relative;
		&::before {
			content: '.';
			position: absolute;
			top: 50%;
			-webkit-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
			border-left: 1px solid #fff;
			color: #2E3F50;
			height: 37%;
			left: -2%;
		}
	}
}

//  .dropdown-menu {
//     transform-origin: top center;
//     animation: translateX 300ms ease-in-out forwards
//  }



//  @keyframes translateX {
//    0% {
//      opacity: 0;
//      transform: translateX(60px);
//    }

//    80% {
//      transform: translateX(-5px);
//    }

//    100% {
//      opacity: 1;
//      transform: translateX(0px);
//    }
//  }
.modal.modal-left {
	.modal-dialog {
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		position: fixed;
		margin: auto;
		width: 500px;
		max-width: 100%;
		height: 100%;
	}

	.modal-content {
		height: 100%;
		overflow-y: auto;
		border-radius: 0;
		border: none;
	}

	.modal-body {
		padding: 15px 15px 80px;
	}

	.modal-dialog.modal-sm {
		width: 300px;
	}

	.modal-dialog.modal-lg {
		width: 40rem;
	}

	.modal-dialog.modal-xl {
		width: 1140px;
	}
}

.modal.modal-right {
	.modal-dialog {
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		position: fixed;
		margin: auto;
		width: 500px;
		max-width: 100%;
		height: 100%;
	}

	.modal-content {
		height: 100%;
		overflow-y: auto;
		border-radius: 0;
		border: none;
	}

	.modal-body {
		padding: 15px 40px 80px;
	}

	.modal-dialog.modal-sm {
		width: 300px;
	}

	.modal-dialog.modal-lg {
		width: 40rem;
	}

	.modal-dialog.modal-xl {
		width: 1140px;
	}
}

.modal.modal-top {
	.modal-dialog {
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		position: fixed;
		margin: auto;
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.modal-content {
		border-radius: 0;
		border: none;
		height: auto;
		overflow-y: auto;
	}

	.modal-body {
		padding: 15px 15px;
	}
}

.modal.modal-bottom {
	.modal-dialog {
		-webkit-transform: translate3d(0%, 0, 0);
		-ms-transform: translate3d(0%, 0, 0);
		-o-transform: translate3d(0%, 0, 0);
		transform: translate3d(0%, 0, 0);
		position: fixed;
		margin: auto;
		width: 100%;
		max-width: 100%;
		height: auto;
	}

	.modal-content {
		border-radius: 0;
		border: none;
		height: auto;
		overflow-y: auto;
	}

	.modal-body {
		padding: 15px 15px;
	}
}

.modal.modal-left.fade {
	.modal-dialog {
		left: -500px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		-o-transition: opacity 0.3s linear, left 0.3s ease-out;
		transition: opacity 0.3s linear, left 0.3s ease-out;
	}
}

.modal.modal-left.fade.show {
	.modal-dialog {
		left: 0;
	}
}

.modal.modal-right.fade {
	.modal-dialog {
		right: -500px;
		-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, right 0.3s ease-out;
		-o-transition: opacity 0.3s linear, right 0.3s ease-out;
		transition: opacity 0.3s linear, right 0.3s ease-out;
	}
}

.modal.modal-right.fade.show {
	.modal-dialog {
		right: 0;
	}
}

.modal.modal-full {
	.modal-content {
		border-radius: 0;
		border: none;
		height: 100%;
		overflow-y: auto;
	}

	.modal-dialog {
		position: fixed;
		margin: auto;
		width: 100%;
		max-width: 100%;
		height: 100%;
	}

	.close-modal {
		position: fixed;
		top: 0;
		right: 3rem;
	}
}

.modal.modal-top.fade {
	.modal-dialog {
		top: -100%;
		-webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, top 0.3s ease-out;
		-o-transition: opacity 0.3s linear, top 0.3s ease-out;
		transition: opacity 0.3s linear, top 0.3s ease-out;
	}
}

.modal.modal-top.fade.show {
	.modal-dialog {
		top: 0;
	}
}

.modal.modal-bottom.fade {
	.modal-dialog {
		bottom: -100%;
		-webkit-transition: opacity 0.3s linear, bottom 0.3s ease-out;
		-moz-transition: opacity 0.3s linear, bottom 0.3s ease-out;
		-o-transition: opacity 0.3s linear, bottom 0.3s ease-out;
		transition: opacity 0.3s linear, bottom 0.3s ease-out;
		bottom: -100%;
	}
}

.modal.modal-bottom.fade.show {
	.modal-dialog {
		bottom: 0;
	}
}

.modal-footer-fixed {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #fff;
	border-radius: 0;
}

.modal.modal-left.xs {
	.modal-body {
		padding: 15px;
	}
}

.modal.modal-right.xs {
	.modal-body {
		padding: 15px;
	}
}

.bg-light-gray {
	background-color: #DCDCDC;
}

.img-boundary {
	padding: 0px;
	background-color: #fff;
	border: 11px solid #fff;
	border-radius: 6rem;
	max-width: 100%;
	height: 8rem;
	width: 8rem;
	box-shadow: 0px 14px 37px #0000001c;
}

table.dataTable {
	thead {
		.sorting {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}

		.sorting_asc {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}

		.sorting_desc {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}

		.sorting_asc_disabled {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}

		.sorting_desc_disabled {
			&:before {
				right: 0.5em !important;
				content: "\02C6" !important;
				bottom: 0.2em !important;
				font-size: 24px !important;
			}

			&:after {
				right: 0.5em;
				content: "\02C7" !important;
				bottom: -0.2em !important;
				font-size: 24px !important;
			}
		}
	}
}

.simulation-form form .form-control{
	height: calc(3.25rem + -7px) !important
}
.simulation-form .form-control{
	border: 1px solid #F6F6F6 !important;
	color: #007AFF !important;
}
.simulation-form .form-control::placeholder{
	color: lightgray !important;
}
.simulation-form input[type=number]::-webkit-inner-spin-button,
.simulation-form input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}