<!-- Work in progress -->

<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    User details<br>
    --------------------------
    </p>
    <p>User email param: <%= @raw %></p>
    <p>Name: <%= @user.full_name %></p>
    <p>Email: <%= @user.email %></p>
    <p>
    Message:<br>
    ----------
    </p>
  </body>
</html>