<tr>
  <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#2E3F50;width:100%;">
      <tbody>
        <tr>
          <td class="header-td" style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
            <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;">
              <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:middle;" width="100%">
                <tr>
                  <td class="logo" align="center" style="font-size:0px;padding:30px;word-break:break-word;">
                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse:collapse;border-spacing:0px;">
                      <tbody align="center">
                        <tr>
                          <td class="logo" style="padding-bottom: 20px; max-width:114px;">
                            <img alt="VenuTRAX" height="34" src="https://www.dropbox.com/s/v6omad0npp60n08/VenuTRAX-WH-2%20%282%29%402x.png?dl=1" style="border-width: 0px; width: 133px; height: 43px;" width="160">
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>