<div class="modal-header">
  <% title_half = (params[:action] == 'new' or params[:action] == 'create') ? 'Add' : 'Edit' %>
  <h5 class="modal-title"><%= title_half %> Options</h5>
</div>
<%= form_for field_picklist_value, remote: true, class: "form-inline" do |f| %>
  <div class="modal-body mb-5">
      <%= render 'form', f: f %>
  </div>
  <div class="modal-footer modal-footer-fixed">
    <% save_button_title = f.object.new_record? ? 'Add' : 'Save' %>
    <%= f.submit save_button_title, class: "btn btn-primary" %>
    <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button>
  </div>
<%end%>

