$color-darkgray1: #111111;
$color-darkgray2: #1d1d1f;
$color-gray: #888888;
$color-offwhite: #f5f5f7;
$color-offwhite2: #fafafa;
$color-blue1: #007aff;
$color-blue2: #0070c9;



// .bg-darkgray{
//     background-color: #111111 !important;
// }
// .bg-lightgray{
//     background-color: #f5f5f7 !important;
// }
// .bg-blue{
//     background-color: #007aff !important;
// }

// .text-darkgray {
//     color: #111111 !important;
// }
// .text-gray {
//     color: #1d1d1f !important;
// }
// .text-lightgray {
//     color: #f5f5f7 !important;
// }
// .text-blue {
//     color: #0070c9 !important;
// }
