<section class="content-wrapper bg-light settings_page">
  <div class="page-title border-bottom title-border bg-white">
    <div class="content">
      <div class="row">
        <div class="col-lg-12">
          <h5 class="text-gray d-inline">Settings</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="content position-relative tab-section bg-light pt-0 mt-5">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="options-tab-body" role="tabpanel" aria-labelledby="business-tab">
        <div class="w-100">
            <div class="site-content-data">
              <div class='row'>
                <div class="col-sm-12 col-md-10 col-lg-7 mx-auto">
                  <div class="block-ui-box-wrapper">
                    <div class="shadow p-4 mb-5 bg-white rounded row justify-content-center">  
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <%= link_to fields_path do  %>
                          <div class="setting-icon">
                            <div class="setting-icon-main d-flex align-items-center justify-content-center flex-column">
                              <i class="fa fa-user"></i>
                              <div class="setting-icon-title mb-0 mt-2">
                                <p class="fw-600 fs-14 text-center">Dynamic Fields Customization</p>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                        <%= link_to field_picklist_values_path do  %>
                          <div class="setting-icon">
                            <div class="setting-icon-main d-flex align-items-center justify-content-center flex-column">
                              <i class="fa fa-braille"></i>
                              <div class="setting-icon-title mb-0 mt-2">
                                <p class="fw-600 fs-14 text-center">Options Customization</p>
                              </div>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
