<% attachments = @venue&.attachments || @attachable.attachments %>
	<div class="card card-body border-0">
	  <div class="mb-2">
				<% if attachments.present? %>
					<% attachments.each do |attachment| %>
		    		<div class="col-md-12 text-gray fs-16 d-flex align-items-start">
				      <i class="fas fa-paperclip mt-1"></i>
				      <div class="ml-2">
				        <p class="fs-14 word-break"><%= attachment.venue_file.filename.to_s %></p>
				      </div>
		    		</div>
			    <% end %>
				<% else %>
					<span> No Attachment found. </span>
				<% end %>
	  </div>
	</div>
