<div class="admin-table bg-white table-responsive mt-3 overflow-hidden">
  <div class="shadow p-3 mb-3 bg-white rounded mt-4 note_shadow_box_5">
    <div class="d-flex align-items-start justify-content-between flex-wrap">
      <div>
        <p class="text-dark2 fw-600 fs-17">To: Patsy Lawson
        </p>
        <p class="text-dark2 fw-600 fs-17">From: Janet Hughes
        </p>
      </div>
      <p class="text-gray fs-14">Mar 23, 2021 04:30 PM
      </p>
    </div>
    <p>
    </p>
    <p class="text-gray mt-3 fs-17"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
      eos et accusam et justo duo dolores et ea rebum.
    </p>
  </div>
  <div class="shadow p-3 mb-3 bg-white rounded mt-4 note_shadow_box_5">
    <div class="d-flex align-items-start justify-content-between flex-wrap">
      <div>
        <p class="text-dark2 fw-600 fs-17">To: Patsy Lawson
        </p>
        <p class="text-dark2 fw-600 fs-17">From: Janet Hughes
        </p>
      </div>
      <div class="d-flex align-items-center">
        <p class="text-gray fs-14 mr-3">Mar 23, 2021 04:30 PM
        </p>
        <a herf="#">
          <img class="img-fluid" src="./images/ic_delete.png">
        </a>
      </div>
    </div>
    <p>
    </p>
    <p class="text-gray mt-3 fs-17"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
      nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
      eos et accusam et justo duo dolores et ea rebum.
    </p>
    <div class="d-flex align-items-center flex-wrap mt-4">
      <span class="mr-4 d-flex align-items-center ">
        <p class="text-blue1 fw-600 fs-15">Contacted:
        </p>
        <p class="text-darkgray1  fw-600 ml-2 fs-15">Patsy Lawson
        </p>
      </span>
      <span class="mr-4 d-flex align-items-center ">
        <p class="text-blue1  fw-600 fs-15">Date:
        </p>
        <p class="text-darkgray1  fw-600 ml-2 fs-15">Mar 23, 2021
        </p>
      </span>
      <span class="mr-4 d-flex align-items-center ">
        <p class="text-blue1  fw-600 fs-15">Time:
        </p>
        <p class="text-darkgray1  fw-600 ml-2 fs-15">04:00 PM
        </p>
      </span>
    </div>
    <p class="text-primary mt-3 fs-17 fw-600">
      <img class="mr-3" src="./images/home/ic_comment.svg"> Add
      Comments
    </p>
  </div>
  <div class="shadow p-3 mb-3 bg-white rounded mt-4 note_shadow_box_5">
    <form class="form py-5">
      <section class="plan text-center">
        <h3 class="fs-26">
          Please select your email Provider
        </h3>
        <p class="text-gray mt-3 fs-16">Once we know who your email provider is, we'll get connected so
          that you can send and received
          email from VenuTrax
        </p>
        <div class="d-flex align-items-center justify-content-center mt-4">
          <input type="radio" name="radio1" id="cardone" value="cardone">
          <label class="cardone-label" for="cardone">
            <%# <img src="./images/ic_gmail.png" class="img-fluid" width="110"> %>
            <%= image_pack_tag 'email/ic_gmail.png', class: 'img-fluid', width: '110' %>
            <p class="text-light-black fs-16 mt-2">Connect with
              <br />
              Google
            </p>
          </label>
          <input type="radio" name="radio1" id="cardtwo" value="cardtwo" checked>
          <label class="cardtwo-label ml-4" for="cardtwo">

            <%= image_pack_tag 'email/ic_outlook.png', class: 'img-fluid mb-1', width: '110' %>
            <p class="text-light-black fs-16 mt-2">Connect with
              <br />
              Outlook
            </p>
          </label>
        </div>
        <a class="btn btn-primary  mt-3 px-5" data-remote="true" href="#">Sync Now
        </a>
      </section>
    </form>
  </div>
</div>