<div class="shadow bg-white rounded p-0 mt-3" style="padding: 0 !important">
  <div class="admin-table overflow-hidden">
    <div id="email-listing-partial">
      <div class="shadow p-3 mb-3 bg-white rounded mt-4 note_shadow_box_5 text-gray text-center">
        Please wait <i class="fa fa-spinner fa-pulse text-blue"></i>
      </div>
    </div>
  </div>
</div>