<section class="content-wrapper admin-login ml-0"> 
  <div class="content">
    <div class="admin-login-inner bg-white mx-auto">
      <h2 class="admin-main-title text-darkgray1 mb-3"> Welcome to VenuTrax</h2>
      <br>
			<%= link_to "Business", businesses_path %>
      <%= link_to "Simulation", simulations_path %>

      <%# <button type="button" class="btn btn-light border rounded-pill shadow-sm mb-1" data-toggle="modal" data-target="#right_modal">Right Side Modal <i class="fa fa-angle-right pl-2"></i></button> %>
    </div>
  </div>
</section>
