
@import '~bootstrap/scss/bootstrap';

@import "./abstract/mixins";
@import "./abstract/variables";

@import "./base/base";
@import "./base/colors";
@import "./base/reset";
@import "./base/typography";
@import "./base/utilities";

@import "./components/buttons";
@import "./components/inputs";

@import "./main.css";

@import "./pages/login";
@import "./pages/home";

 .main-header .dropdown-menu .dropdown-item {
   opacity: 60% !important;
   line-height: 2rem;
 }

 .main-header .dropdown-menu .dropdown-item:hover {
   background-color: #007AFF;
  //  color: yellow;
   opacity: 100% !important;
 }