
@import '~bootstrap/scss/bootstrap';

@import "./abstract/mixins";
@import "./abstract/variables";

@import "./base/base";
@import "./base/colors";
@import "./base/reset";
@import "./base/typography";
@import "./base/utilities";

@import "./components/buttons";
@import "./components/inputs";

@import "./pages/login";
@import "./pages/home";
@import "./pages/simulation";
@import "./pages/custom_multi_select.css";
@import "./pages/business-show";

@import "./main.css";
@import "./bootstrap-datetimepicker.css";

.expanded-note-modal .modal-dialog .modal-content .modal-body .meeting-modal-data .cke_contents {
  height: 200px !important;
}
.picker_input:focus{box-shadow: unset;}
.duration:focus{box-shadow: unset;}
select.duration {border: none;}
button.multiselect.dropdown-toggle {
  padding: 11px 0;
}
.multiselect-container>li>a>label {
  padding: 3px 20px 3px 20px;
}
