<h5 class="mt-4 mb-0  py-2"> 
  <%= image_pack_tag "sample/#{brand_logo(revenue_brand)}", class: 'mr-2 img-fluid', width: '47', height: '47' %>
  <%= "#{revenue_brand.name} Revenue Source" %>
</h5>
<div class="admin-table bg-white table-responsive mt-3 overflow-hidden">
  <table class="table table-bordered w-100 " id="revenue_list_table">
    <thead class="thead-dark">
      <th class="no-wrap">Revenue Source Name</th>
      <th>CPC Rate
        <p class="fs-12 text-light-gray no-wrap">( Cost Per Click )</p>
      </th>
      <th>CPM Rate
        <p class="fs-12 text-light-gray no-wrap">( Cost Per Thousand Rate )</p>
      </th>
      <th>CPA Rate
        <p class="fs-12 text-light-gray no-wrap">( Cost Per Acquisition)</p>
      </th>
      <th class="align-middle text-center">Action</th>
    </thead>
    <tbody>
      <%= render(partial: 'revenue_sources/revenue_source', collection: revenue_brand.revenue_sources, locals: { venue: venue, event: event }) || no_data_available %>
    </tbody>
  </table>
</div>
