<div class="content position-relative tab-section bg-light">
  <div class='d-md-flex align-items-center justify-content-between'>
    <ul class="nav nav-tabs flex-grow-1 my-1" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs active" id="details-tab" data-toggle="tab" href="#details-tab-body" role="tab" aria-controls="details-tab-body" aria-selected="true">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="notes-tab" data-toggle="tab" href="#notes-tab-body" role="tab" aria-controls="notes-tab-body" aria-selected="false">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="contacts-tab" data-toggle="tab" href="#contacts-tab-body" role="tab" aria-controls="contacts-tab-body" aria-selected="false">Brand Contact</a>
      </li>
    </ul>
    <div class="ml-3 text-nowrap my-1 d-none create-note-btn">
      <%= link_to "Create Note", new_brand_note_path(@brand.id), remote: true, class: 'btn btn-primary add_note' %>
    </div>
  </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="details-tab-body" role="tabpanel" aria-labelledby="details-tab">
      <%= render 'details_list' %>
    </div>
    <div class="tab-pane fade notes-list" id="notes-tab-body" role="tabpanel" aria-labelledby="notes-tab">
      <%= render 'notes_list', notes: @notes, notable: @brand %>
    </div>
    <div class="tab-pane fade contacts-list" id="contacts-tab-body" role="tabpanel" aria-labelledby="contacts-tab">
      <%= render 'brand_contacts/list', brand: @brand, brand_contacts: @brand_contacts %>   
    </div>
  </div>
</div>
