<section class="content-wrapper content-margin position-relative business-show">
  <div class="row h-100 w-100 m-0 h-100 content-wrapper">
    <div class="col-lg-4 col-xl-3 p-0 border-right">
      <%= render 'show_left_bar' %>
    </div>
    <div class="col-lg-8 col-xl-9 bg-light">
      <%= render 'show_right_bar' %>
    </div>
  </div>
</section>
<script type="text/javascript">
	$(document).ready(function(){
		$('.header_tabs').on('click', function(){
			console.log(this.id)
      if(this.id == 'venues-tab'){
        $('.add_venue').closest('div').removeClass('d-none');
        $('.add_note').closest('div').addClass('d-none');
      } else if(this.id == 'notes-tab') {
        $('.add_note').closest('div').removeClass('d-none');
        $('.add_venue').closest('div').addClass('d-none');
      } else {
        $('.add_venue').closest('div').addClass('d-none');
        $('.add_note').closest('div').addClass('d-none');
      }
	  })
	})
</script>