
<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#2E3F50; max-width: 550px;">
  <tbody>
    <%= render "devise/shared/header"%>

    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;width:100%;">
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:30px; text-align: center;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                    <tr>
                      <td class="title" style="font-size:24px; color: #111111; font-family: 'SF Pro Display'; font-weight: 400; padding-bottom: 30px;">Amol Mohite</td>
                  </tr>
                  <tr>
                    <td class="inner contents center" style="padding-top:15px;padding-bottom:15px;padding-right:30px;padding-left:30px;text-align:left;">
                        <p class="h1 center" style="Margin:0;text-align:center;font-family:'flama-condensed','Arial Narrow',Arial;font-weight:100;font-size:30px;Margin-bottom:26px;">Forgot your password?</p>
                      </td>
                  </tr>
                  <tr>
                      <td><p class="description center" style="font-family:'Muli','Arial Narrow',Arial;Margin:0;text-align:center;max-width:320px;color:#a1a8ad;line-height:24px;font-size:15px;Margin-bottom:10px;margin-left: auto; margin-right: auto;"><span style="color: rgb(161, 168, 173); font-family: Muli, &quot;Arial Narrow&quot;, Arial; font-size: 15px; text-align: center; background-color: rgb(255, 255, 255);">That's okay, it happens! Click on the button below to reset password.</span></p></td>
                  </tr>
                  <tr>
                      <td style="padding-top: 40px;">
                      <%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), class: 'btn', style: "background-color: #007AFF; border-radius: 3px; color: #fff; border-color: #007AFF;  padding: .6rem 1rem; font-family: 'SF Pro Text'; font-size: 17px;   font-weight: 500; border: transparent 1px solid; min-width: 226px;      border-radius: 5px;text-decoration:none;"%></td>
                  </tr>

                  <tr>
                      <td style="font-size:14px; color: #444; font-family: 'SF Pro Display'; font-weight: 400; padding-top: 70px;">If you didn’t request this, you can ignore this email or let us know. Your password won’t change until you create a new password.</td>
                  </tr>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    
    <%= render "devise/shared/footer"%>
  </tbody>
</table>