<table style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;background-color:#f3f3f3;height:100%;width:100%;color:#545d63;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;font-size:16px;margin:0;padding:0" bgcolor="#f3f3f3">
  <tbody>
    <tr style="vertical-align:top;text-align:left;padding:0" align="left">
      <td align="center" valign="top" style="word-wrap:break-word;border-collapse:collapse!important;vertical-align:top;text-align:left;color:#545d63;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;font-size:16px;margin:0;padding:0">
        <center style="width:100%;min-width:580px">
          <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style=" max-width: 550px; border:none;">
            <tbody>
              <tr>
                <td style="direction:ltr;font-size:0px;padding:0px;text-align:center;">
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#2E3F50;width:100%;border-top-left-radius: 4px; border-top-right-radius: 4px; margin-top: 20px;">
                    <tbody>
                      <%= render "devise/shared/header"%>
                    </tbody>
                  </table>
                </td>
              </tr>
              <tr>
                <td>
                  <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;width:100%;">
                    <tbody>
                      <tr>
                        <td style="direction:ltr;font-size:0px;padding:20px 30px 30px 20px; text-align: center;">
                          <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                            <tr>
                              <td class="inner contents center" style="padding-top:15px;padding-bottom:15px;padding-right:30px;padding-left:30px;text-align:left;">
                                <p class="h1 center" style="Margin:0;text-align:center;font-family:'flama-condensed','Arial Narrow',Arial;font-weight:100;font-size:24px;Margin-bottom:20px;">Forgot your password?</p>
                              </td>
                            </tr>
                            <tr>
                              <td class="title" style="font-size:16px; color: #585858; font-family: 'SF Pro Display'; font-weight: 400; padding-bottom: 0px; text-align: left;">Hello, <%= @resource.full_name || 'User' %></td>
                            </tr>
                            <tr>
                              <td style="text-align: left; padding-top: 15px;"><p class="description" style="font-family:'Muli','Arial Narrow',Arial;color:#a1a8ad;line-height:24px;font-size:15px;Margin-bottom:12px;margin-top:12px; auto; margin-right: auto; text-align: left; margin-top: 12px;"><span style="color: #585858; font-family: Muli, &quot;Arial Narrow&quot;, Arial; font-size: 15px; text-align: left; background-color: rgb(255, 255, 255);">Seems like you forgot your password for VenuTRAX. If this is true, Click below to reset your password.</span></p></td>
                            </tr>
                            <tr>
                              <td style="padding-top: 30px;text-align: center;">
                                <%= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), class: 'btn', style: "margin:0 auto;background-color: #007AFF; border-radius: 3px; color: #fff; border-color: #007AFF;  padding: .6rem 1rem; font-family: 'SF Pro Text'; font-size: 17px;   font-weight: 500; border: transparent 1px solid; min-width: 226px;      border-radius: 5px;text-decoration:none;"%>
                              </td>
                            </tr>
                            <tr>
                              <td style="font-size:14px; color: #a3a3a3; font-family: 'SF Pro Display'; font-weight: 400; padding-top: 35px;margin-bottom: 30px; text-align: left;">If you didn’t request this, you can ignore this email or let us know. Your password won’t change until you create a new password.</td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
              <%= render "devise/shared/footer"%>
            </tbody>
          </table>
        </center>
      </td>
    </tr>
  </tbody>
</table>
