
<div class="shadow p-3 mb-3 bg-white rounded mt-4 note_shadow_box_5">
  <form class="form py-5">
    <section class="plan text-center">
      <h3 class="fs-26">
        Please select your email Provider
      </h3>
      <p class="text-gray mt-3 fs-16">Once we know who your email provider is, we'll get connected so
        that you can send and received
        email from VenuTrax
      </p>
      <div class="d-flex align-items-center justify-content-center mt-4">
        <input type="radio" name="radio1" id="cardone" value="cardone" checked>
        <label class="cardone-label" for="cardone">
          <%# <img src="./images/ic_gmail.png" class="img-fluid" width="110"> %>
          <%= image_pack_tag 'email/ic_gmail.png', class: 'img-fluid', width: '110' %>
          <p class="text-light-black fs-16 mt-2">Connect with
            <br />
            Google
          </p>
        </label>
        <!--
        <input type="radio" name="radio1" id="cardtwo" value="cardtwo">
        <label class="cardtwo-label ml-4" for="cardtwo">

          <%= image_pack_tag 'email/ic_outlook.png', class: 'img-fluid mb-1', width: '110' %>
          <p class="text-light-black fs-16 mt-2">Connect with
            <br />
            Outlook
          </p>
        </label> -->
      </div>
      
      <%= link_to 'Sync Now', google_login_url, class: 'btn btn-primary  mt-3 px-5 ' %>
    </section>
  </form>
</div>
