<div class="venue-contacts-data">
  <div class="d-flex align-items-center justify-content-between mt-2 search-card flex-wrap">
    <div class="d-flex align-items-center flex-wrap my-1">
      <div style="width: 300px;" class="mr-2 my-1 form-group mb-0 has-search d-flex position-relative">
        <%= image_pack_tag 'sample/search.svg', class: 'mr-3 form-control-feedback search-icon', width: '16' %>
        <input type="text" class="form-control searchbox" placeholder="Search Venue Contacts" id="searchbox_venue_contact">
      </div>
      <button class="btn btn-primary form-group search_btn mb-0 my-1">Search</button>
    </div>
    <% unless venue_contact?(current_user) %>
      <div class="my-1">
        <%= link_to "Add Venue Contact", new_venue_venue_contact_path(venue), remote: true, class: 'btn btn-primary mb-0 text-white' %>
      </div>
    <% end %>
  </div>

  <div class="admin-table bg-white table-responsive mt-3">
    <table class="table table-bordered w-100 mb-5" id="venue_contact_list_table">
      <thead class="thead-dark">
        <th>Venue Contact Name</th>
        <th>Job Title</th>
        <th>Email Address</th>
        <th>Mobile Number</th>
        <th>Action</th>
      </thead>
      <tbody>
        <%= render(partial: 'venue_contacts/venue_contact', collection: venue_contacts, locals: { venue: venue }) || no_data_available_for_table %>
      </tbody>
    </table>
  </div>
</div>
<script>
  custom_datatable($('#venue_contact_list_table'), 'searchbox_venue_contact');
</script>
