<div class="row mb-3 venue_contact_row">
  <div class="col-md-12 text-gray fs-16 d-flex align-items-center">
    <%= image_pack_tag 'sample/profile_pic_1.png', class: 'img-fluid border-radius-50 contact_user' %>
    <div class="ml-2">
      <p class="fw-600 fs-17"><%= sidebar_venue_contact.full_name %></p>
      <p class="fs-15 fw-400 text-gray"><%= sidebar_venue_contact.email %></p>
    </div>
  </div>
</div>
