<div class="row mb-3 venue_contact_row">
  <div class="col-md-12 text-gray fs-16 d-flex align-items-center">
    <% if sidebar_venue_contact.profile_pic.attached? %>
      <%= image_tag sidebar_venue_contact.profile_pic, class: 'img-fluid border-radius-50 contact_user' %>
    <% else %>
      <%= image_pack_tag 'home/profile_placeholder.svg', class: 'img-fluid border-radius-50 contact_user' %>
    <% end %>
    <div class="ml-2">
      <p class="fw-600 fs-17"><%= sidebar_venue_contact.full_name %></p>
      <p class="fs-15 fw-400 text-gray"><%= sidebar_venue_contact.email %></p>
    </div>
  </div>
</div>
