<div class="modal custom-modal modal-bottom fade" id="bottom_modal" tabindex="-1" role="dialog" aria-labelledby="bottom_modal" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg shadow-lg" role="document">
    <div class="modal-content" id="bottom-modal-content">
    </div>
  </div>
</div>
<style>
.custom-modal {
  background-color: rgba(0, 0, 0, 0) !important; 
}
.cke_1 .cke_top{
  border: 0;
}
.cke{
  border: 0;
}
</style>
