<%# footer_class = current_user.present? ? "" : 'ml-0' %>
<footer class="main-footer <%#= footer_class %> fixed">
  <div class="d-sm-flex align-items-center justify-content-between">
    <div class="foot-nav d-flex flex-md-row">
      <%= link_to 'Terms' , 'javascript:(0)', class: "mb-1 mb-md-0"%>
      <%= link_to 'Privacy Policy' , 'javascript:(0)', class: "mb-1 mb-md-0"%>
     <!--  <a href="javascript:;" class="mb-1 mb-md-0">Product Suggestions</a> -->
    </div>
    <p class="copy-text text-darkgray1 mt-lg-0">&copy; <span class="footer_date"></span> VenuTrax All rights reserved.</p>
  </div>
</footer>
<script>
  n =  new Date();
  y = n.getFullYear();
  x = document.getElementsByClassName("footer_date")
  x[0].innerHTML =  y;
</script>
