<div class="modal fade" id="simple_modal" tabindex="-1" role="dialog" aria-labelledby="simple_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" id="simple-modal-content">
    </div>
  </div>
</div>
